<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Price Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js', _external=True) }}"></script>
</head>
<body>
    <form id="add-ticker-form">
        <input type="text" id="new-ticker" placeholder="Add Ticker" required>
        <button type="submit">Add</button>
    </form>
    <p id="timer">Next update in <span id="counter"></span> seconds.</p>
    <div id="tickers-grid"></div>
</body>
</html>
